/* * {
    margin: 0;
    padding: 0;
} */

body {
    background: black; 
}

.webgl {
    position: fixed; /* absolute works too */
    top: 0;
    left: 0;
    outline: none;
}

/* Used to prevent scrolling past the canvas */
html,body {
    overflow: hidden;
}